:root {
  --var-border-color: #e5e5e5;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker {
  font-family: inherit;
  border-color: var(--var-border-color);
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.react-datepicker-popper {
  min-width: 370px;
  text-align: center;
  z-index: 30;
}

.react-datepicker-popper .react-datepicker__triangle {
  display: none;
}

.react-datepicker__header {
  background-color: #f8f8f8;
  border-color: var(--var-border-color);
  border-radius: 6px 6px 0px 0px; 
  position: relative;
}

.react-datepicker__time-container {
  border-color: var(--var-border-color);
}

.react-datepicker__navigation {
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin: 0px !important;
  padding: 4px;
  outline: 0;
  top: 8px;
}

.react-datepicker__navigation--previous {
  left: 8px;
}

.react-datepicker__navigation-icon--previous {
  right: 0;
}

.react-datepicker__navigation--next {
  right: 8px;
}

.react-datepicker__navigation-icon--next {
  left: 0;
}

.react-datepicker__navigation-icon {
  top: 0;
}


.react-datepicker__navigation-icon::before {
  border-color: #686e6e;
  border-width: 1px 1px 0 0;
  margin-top: 6px;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0;
  color: #1d1e1e;
  font-weight: 600;
  font-size: 14px;
}

.react-datepicker__day-names {
  margin: 8px 0.4rem -4px;
}

.react-datepicker__day-name {
  text-transform: uppercase;
  font-weight: bold;
  color: #1d1e1e;
  margin: 0.166rem;
  width: 2rem;
}

.react-datepicker__day,
.react-datepicker__time-name {
  color: #686e6e;
  width: 2rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 0 0.166rem;
}

.react-datepicker__day--selected,
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  background-color: #404141;
  color: #fff;
}

.react-datepicker__day--keyboard-selected {
  background-color: #f8f8f8;
  font-weight: 900;
  color: #101111;
}

.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__year-text--keyboard-selected:hover {
  background-color: #dbdcdc;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover,
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected:hover {
  background-color: #404141;
}

.react-datepicker__day--keyboard-selected:not([aria-disabled=true]):hover, 
.react-datepicker__month-text--keyboard-selected:not([aria-disabled=true]):hover, 
.react-datepicker__quarter-text--keyboard-selected:not([aria-disabled=true]):hover, 
.react-datepicker__year-text--keyboard-selected:not([aria-disabled=true]):hover {
  background-color: #101111;
}
