@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  text-align: inherit;
}

body {
  @apply text-gray-800 antialiased font-medium;
}

a {
  @apply text-primary font-bold outline-0 outline-offset-4 outline-primary-light hover:text-primary-light border-primary-light cursor-pointer;
}

:root {
  --tw-shadow-color: rgb(230 231 231 / 1);
}

input {
  border: none !important;
  box-shadow: inset 0 0 0 1px var(--tw-shadow-color) !important;
  -webkit-box-shadow: inset 0 0 0 1px var(--tw-shadow-color) !important;
  -moz-box-shadow: inset 0 0 0 1px var(--tw-shadow-color) !important;
}

input:focus {
  ring: none;
  outline: none !important;
  box-shadow: inset 0 0 0 2px #666eff !important;
  -webkit-box-shadow: inset 0 0 0 2px #666eff !important;
  -moz-box-shadow: inset 0 0 0 2px #666eff !important;
}

progress.progress {
  @apply w-full h-2;
}
progress.progress,
progress.progress::-webkit-progress-bar {
  @apply rounded bg-gray-100 overflow-hidden;
}
progress.progress::-moz-progress-bar {
  @apply rounded bg-gray-100 overflow-hidden;
}
progress.progress::-webkit-progress-value {
  @apply rounded bg-primary;
}
progress.progress[value]::-moz-progress-bar {
  @apply rounded bg-primary;
}
